body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.annotationBorder {
}

.annotation_area {
    position: relative;
    width: 500px;
}

.annotationToolbar {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    z-index: 1;
}

.annotationContentViews {
    top: 16px;
    padding-bottom: 20px;
    position: relative;
    z-index: 2;
}

p.fixedWidth {
    max-width: 500px;
}

.toolbarViews {
    padding-left: 8px;
    height: 36px;
}

.toolbar-button {
    position: relative;
    top: -2px;
}

.audiovisual {
    position: relative;
    top: 6px;
}

.editing-area {
    padding: 12px 16px 16px 12px;
    margin: 0 0 0 0;
    position: relative;
}

.transcript-view {
    /*resize: none;*/
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    line-height: 200%;
    overflow: auto;
    word-wrap: break-word;
}

.transcript-view::selection {
    background: transparent;
}

.transcript-view::-moz-selection {
    background: transparent;
}

/* Annotation symbols */

.annotation-token::selection {
    background: transparent;
}

.annotation-token::-moz-selection {
    background: transparent;
}

.annotation-space::selection {
    background: transparent;
}

.annotation-space::-moz-selection {
    background: transparent;
}

.annotation-selected {
    background-color: #4398ea !important;
    border: 1px solid #58a4ea !important;
}

.annotation-highlighted {
    background-color: #b398ea !important;
    border: 1px solid #8b61ea !important;
}

.annotation-dimmed {
    opacity: 0.5;
}

.annotation-space {
    border-radius: 3px;
}

.annotation-space.annot-bordered {
    border: 1px solid #2bd363;
    background-color: #a5f6b4;
    /*padding: 0 2px 0 2px;
    margin: 0 2px 0 2px;*/
}

.annotation-token {
    border-radius: 3px;
    word-wrap: normal;
    display: inline-block;
    padding: 2px 2px 2px 2px;
    line-height: 1.2em;
}

.annotation-token.annot-bordered {
    border: 1px solid #58a4ea;
    background-color: #a5d3f6;
}

.revision-label {
    display: none;
}

#revision-input {
    background: transparent;
    border: none;
    font-size: 0.9em;
    width: 100%;
    height: 100%;
    text-align: center;
}

#revision-box {
    position: absolute;
    display: none;
    padding: 1px;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    background-color: #FEFEFE;
    box-shadow: 0 3px 3px gray;
}

.annot-template {
    display: none;
}

.loading-label {
    position: absolute;
    width: 100%;
    text-align: center;
    font-style: italic;
    opacity: 60%;
    color: white;
    height: 20px;
    top: 6px;
    left: 0;
    right: 0;
}