/* CSS for RichReviewXBlock */

.anim_transition {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/* Student View */
#r2_app_container{
    width:100%;
    height:700px;
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-width: 1px;
}


.r2_dashboard {
    margin-bottom: 5px;
}

.r2_dashboard > h1 {
    margin-bottom: 0;
}

.r2_dashboard > p {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 2px;
}

.r2_dashboard > button {
    font-size: 12px;
}


/* Studio View */

#r2_studio_block > .show_before_uploaded {
    height: auto;
    padding: 10px;
}

#r2_studio_block > .show_after_uploaded {
    height: 0;
    padding: 0;
    overflow: hidden;
}

#r2_studio_block.uploaded > .show_before_uploaded {
    height: 0;
    padding: 0;
    overflow: hidden;
}

#r2_studio_block.uploaded > .show_after_uploaded {
    height: auto;
    padding: 10px;
}


.r2_studio_row_block{
    padding: 10px;
}


#r2_pdfupload > div > form {
    border: 1px dotted #BCBCBC;
    display: inline-block;
    width: 250px;
}

#r2_pdfupload > div > form > input {
    width: 250px;
    font: normal normal normal 11px/normal '.HelveticaNeueDeskInterface-Regular';
}

#r2_pdfupload > h1 > img {
    display: none;
}

#r2_pdfupload.uploading > h1 > img {
    display: inline-block;
}


#existing_doc.hide {
    height: 0;
    padding: 0;
    overflow: hidden;
}

#existing_doc > h1 > img {
    display: none;
}

#existing_doc.deleting > h1 > img {
    display: inline-block;
}




#multicolumn{
    width: 100%;
    height: 0;
}

#multicolumn.show{
    height: auto;
}

#multicolumn > #maincanvas {
    width: 100%;
    height:0;
    margin:0;
    padding:0;

    background: #f9f9f9;

    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

#multicolumn.show > #maincanvas {
    width: 100%;
    height: 450px;
    margin: 0;
    margin-top: 5px;

    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
