led / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# PyCharm and WebStorm cache
*.idea
*.DS_Store

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
*.pot

# mupla C builds
*/.*
mupla_core/mupla/mupdf-1.6-source/
mupla_core/mupla/mupla/mupla.o
mupla_core/mupla/._mupdf-1.6-source

#richreview_core
richreview_core/cache/
richreview_core/node_server/ssl/
richreview_core/node_server/node_modules/
richreview_core/node_server/cache/
richreview_core/node_server/_temp/
richreview_core/node_server/passport-azure-ad/node_modules/
richreview_core/node_server/dist/
richreview_core/node_server/cdn/

#backup_server
utils/backup_server/ssl
utils/backup_server/azure_str_last_modified_record.json
utils/backup_server/redis-*.tar.gz
utils/backup_server/redis-*/
utils/backup_server/log_backup/
utils/backup_server/redis_backup/
utils/backup_server/azure_str_backup/
utils/backup_server/node_modules/

#pdf_batch data
utils/pdf_batch/data/
utils/backup/down/

#Backend
Backend/node-modules/
Backend/ssl/
