mixin pilotStudentCard(pilot_user = {})
    if pilot_user.is_admin === "false"
        .pilot_mgmt_user
            - var is_it_blocked  = (pilot_user.is_active === "false")
            form.pilot_mgmt_acct_form(action=`/pilot_admin/mgmt_acct/${pilot_user.email}` method="POST")
                section.email_view
                    p= pilot_user.email
                .vertical_line
                section.pswd_input
                    input.input(type="text" name="password" value=pilot_user.password required)
                .vertical_line
                section.is_active_input
                    input(type="checkbox" name="is_blocked" value="is_blocked" checked=is_it_blocked)
                .vertical_line
                section.button_buff
                    button.form_button(type="submit") save