extends __layout_cprght
block content_with_cprght
    h5.align_center(style="margin-top:23px;")
        |You are not enrolled in this course
    p.align_center(style="margin-top:23px;")
        |If you think there is something wrong, please contact the system administrator Dongwook Yoon (dy252).
