extends __layout_cprght

block content_with_cprght
    form.form(action="/login_pilot_study" method="POST")
        h2 Login
        label(for="user-id") User Id
        input(type="text" name="user-id")
        label(for="password") Password
        input(type="password" name="password")
        input.button(type="submit" value="Login")