//
   Created by yoon on 8/5/16.
doctype html
html
    head
        meta(charset='utf-8')
        title='Lti Error'
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        link(rel='shortcut icon' href='https://richreview2ca.azureedge.net/favicon.ico' type='image/x-icon')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body
        .well
            .panel.panel-danger
                .panel-heading
                    |Oops. We got a server error.</br>
                    |Please get back to edX.org and retry this <strong>after 10 min break</strong>. If it makes the same error till then, please report it to dy252@cornell.edu.

                .panel-body
                    if msg_str !== null
                        |#{msg_str}
                    if stack_str !== null
                        |#{stack_str}
