
include mixins/_pilot_backdoor_user

.container
    - var pilot_user_sorted = pilot_users.sort(function(userA, userB) { return userA.email.localeCompare(userB.email); });
    .form_control
        h2 Create Student
        form(action="/pilot_backdoor/create_student" method="POST")
            label(for="stu_id_str") Student ID
            input(type="text" name="stu_id_str" id="stu_id_str" required)
            label(for="stu_password") Password
            input(type="text" name="stu_password" id="stu_password" required)
            input(type="submit" value="submit")
        h2 Create Admin
        form(action="/pilot_backdoor/create_admin" method="POST")
            label(for="admin_id_str") Admin ID
            input(type="text" name="admin_id_str" id="admin_id_str" required)
            label(for="admin_password") Password
            input(type="text" name="admin_password" id="admin_password" required)
            input(type="submit" value="submit")
    .user_control
        each pilot_user in pilot_user_sorted
            +pilotBackdoorUser(pilot_user)

