<div id='r2_studio_block' class='richreview_block'>

    {% if is_pdf_ready %}
        <div id='existing_doc' class='r2_studio_row_block anim_transition'>
            <h1>
                <span>Current Document</span>
                <img src="/static/e7aa8fc/debug_toolbar/img/ajax-loader.gif" alt="loading">
            </h1>
            <p>We have an existing PDF document that you've uploaded.</p>
            <button><a href='{{pdf_url}}' target='_blank'>Download</a></button>
            <button id='pdf_delete_button'>Delete</button>
        </div>
    {% endif %}


    <div id='r2_upload_success' class='r2_studio_row_block show_after_uploaded anim_transition'>
        <h1>
            <span>The document was submitted successfully.</span>
        </h1>
    </div>

    <div id='r2_pdfupload' class='r2_studio_row_block show_before_uploaded anim_transition'>
        <h1>
            <span>Submit a New Document</span>
            <img src="/static/e7aa8fc/debug_toolbar/img/ajax-loader.gif" alt="loading">
        </h1>

        <div id='multicolumn'>
            <canvas id='maincanvas'>
            </canvas>
        </div>
        <p>You can upload a new document. Please select a PDF file and click 'Submit'.</p>
        <div id='pdfupload'>
            <form id='pdfupload_form' method='post' enctype='multipart/form-data'>
                <input type='file' name='pdffile' accept='application/pdf'/><br>
            </form>
            <button id='pdf_upload_button'>Submit</button>
        </div>
    </div>

    <!-- Dash board for the debugging purpose -->
    {% if is_debug %}
        <div id='r2_dashboard' class='r2_studio_row_block'>
            <h1>Debug Monitor</h1>
            <p>
                xblock_id: {{ xblock_id }}
            </p>
            <p>
                student_id: {{ student_id }}
            </p>
            <p>
                user_is_staff: {{ user_is_staff }}
            </p>
            <p>
                discussion_docid: {{ discussion_docid }}
            </p>
            <p>
                students_of_group: {{ students_of_group }}
            </p>
            <p>
                group_of_student: {{ group_of_student }}
            </p>
        </div>
    {% endif %}

</div>
