h5 {
    margin: 0;
}

.table {
    margin: 0;
    margin-bottom: 10px;
}

.panel {
    margin: 0;
    margin-top: 23px;
}

.panel p {
    margin: 0;
    margin-bottom: 10px;
}

.panel-body {
    padding: 10px 15px;
    padding-bottom: 0;
}

#submission_items > tr {
    cursor: pointer;
}

.btn {
    text-transform: none;
    margin-left: 5px;
    padding: 1px 5px;
    font-size: 13px;
    vertical-align: bottom;
}

.btn > .fa {
    font-size: 15px;
}

/* dropdown menu */
.btn-group {
    margin-left: 5px;
    display: inline-flex;
    vertical-align: baseline;
}
.dropdown-menu {
    min-width: 40px;
    padding: 0;
    margin: 0;
}
.dropdown-menu > li > a {
    margin: 0;
    padding: 1px 5px;
    font-size: 12px;
}

/* addStudent*/
#enrollment_add_student_input {
    height: 40px;
}
.add_student_input {
    float: right;
    display: inline-flex;
    margin: 0;
    padding-left: 10px;
}
.add_student_input .input-group {
    display: inline-flex;
}
.add_student_input .form-control{
    font-size: 13px;
    border: solid 1px lightcyan;
    height: 22px;
    width: 400px;
}

.pdf-file-input {
    width: 200px;
}