
.pilot_mgmt_header_container {
    max-width: 73em;
    margin-left: auto;
    margin-right: auto;
}

.pilot_mgmt_container {
    max-width: 73em;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    /*padding-top: 8px;*/
    /*padding-bottom: 5em;*/
}

@media screen and (max-width: 66em) {
    .pilot_mgmt_container {
        max-width: 36.6em;
        grid-template-columns: 1fr;
    }

    .pilot_mgmt_header_container {
        max-width: 36.6em;
    }
}

.pilot_mgmt_user {
    display: flex;
    flex-wrap: nowrap;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #c0c0c0;
    box-shadow: 0 1px 5px 0 #c0c0c0;
}

.pilot_mgmt_acct_form {
    display: flex;
    flex-wrap: nowrap;
}

.pilot_mgmt_info_form {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
}

input[type="text"], input[type="password"] {
    width: 100%;
    /*padding: 12px 20px;
    margin: 8px 0;*/
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: 100%;
}

section {
    /*border: 1px solid #ccc;*/
    margin-left: 5px;
    margin-bottom: 5px;
}

section.email_view {
    width: 17.6em;
}

section.is_active_input {
    width: 5em;
}

section.right_buff {
    margin-right: 5px;
}

section.pswd_input {
    width: 8em;
}

section.info_input {
    width: 100%;
}

section.button_buff {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.form_button {
    border: 1px solid #ccc;
    /*margin: auto;*/
    padding: 2px;
}

.vertical_line {
    margin-left: 5px;
    border-left: 1px solid #c0c0c0;
}