
/*.pilot_mgmt_header_container {*/
    /*max-width: 73em;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

.pilot_mgmt_container {
    /*max-width: 73em;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
}

@media screen and (max-width: 66em) {
    /*.pilot_mgmt_container {*/
        /*max-width: 36.6em;*/
        /*grid-template-columns: 1fr;*/
    /*}*/

    /*.pilot_mgmt_header_container {*/
        /*max-width: 36.6em;*/
    /*}*/
}

.panel-heading {
    width: 100%;
    background-color: whitesmoke;
}

.panel-heading > p {
    margin: 0 0 0 0;
}

.panel {
    margin-bottom: 15px;
}

.panel-body {
    clear: both;
    padding : 0;
}

.panel .editable-click {
    border-bottom: dashed 1px gray;
}
.panel .editable-click:hover {
    border-bottom: solid 2px dodgerblue;
}

.pilot_mgmt_user {
    display: flex;
    flex-wrap: nowrap;
    border-top: solid 1px lightgray;
}

.pilot_mgmt_acct_form {
    display: flex;
    flex-wrap: nowrap;
}

.pilot_mgmt_info_form {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
}

/*input[type="text"], input[type="password"] {*/
    /*width: 100%;*/
    /*display: block;*/
    /*box-sizing: border-box;*/
/*}*/

/*input[type="checkbox"] {*/
    /*width: 100%;*/
/*}*/

section {
    margin-left: 15px;
}

section p, section a, section b {
    display: inline-block;
    margin: 5px 0;
}

section a {
    color: black;
}

.email_view {
    width: 100%;
}

section.is_active_input {
    width: 8em;
}

.pswd_input {
    width: 8em;
}

section.button_buff {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical_line {
    margin-left: 5px;
    border-left: 1px solid #c0c0c0;
}