html
	height: 100%

body
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  	height: 100%

a, a:hover, a:active
	color: inherit
	text-decoration: none

.vcenter
	display: flex
	align-items: center

.layout_contents_container
	margin-right: auto;
	margin-left: auto;
	max-width: 840px;

.doc_btns
	float:right;
  	width:50%;