html{
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin:0;
  padding:0;
}
a,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
.vcenter {
  display: flex;
  align-items: center;
}

.container{
  max-width: 930px;
  background: white;
}

.layout_contents_container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 65px;
}

.navbar{
  min-height: 41px;
}
.navbar.cornellx {
  font-size: 1.8em;
  white-space: nowrap;
}
.navbar.cornellx > p {
  font: 21px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 0.4em 0.45em;
}

.r2-topmenu > .navbar-header > a.navbar-brand{
  padding: 8px 12px;
  height: 41px
}
.r2-topmenu > .navbar-header > .navbar-toggle {
  padding: 12px;
  margin: 0;
}
.navbar-toggle{
  padding: 15px;
  margin: 0;
}
.r2-topmenu > .navbar-collapse > .navbar-nav > li > a{
  padding: 9px 12px;
}

.btn_docs{
  float:right;
  margin-left: 5px;
}

.content_table{
  display: table;
  width: 100%;
  height: 100%;
}

.content_header{
  width: 100%;
  height: 41px;
  margin: 0;
}

.content_body{
  display: table-row;
  width: 100%;
  height: 100%;
}

/*****************************/
/**         Navbar          **/
/*****************************/

.cwl_login_button {
    background: #FFFFFF url("/img/CWL_login_button.png") no-repeat top left;
    background-position: 45px 6px;
    width: 135px;
    height: 41px;
}

.cwl_login_link {
    display: block;
    width: 41px;
}

/*****************************/
/**     Flash Messages      **/
/*****************************/

.flash_messages {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.flash {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 5px #ccc;
}

.flash--error {
    border-color: #b92c28;
}

.flash--error:hover {
    border-color: #d9534f;
}

.flash--warning {
    border-color:  #e38d13;
}

.flash--warning:hover {
    border-color: #f0ad4e;
}

.flash--success {
    border-color: #3e8f3e;
}

.flash--success:hover {
    border-color: #5cb85c;
}

.flash--info {
    border-color: #28a4c9;
}

.flash--info:hover {
   border-color: #5bc0de;
}

p.flash__text {
    margin: 1em;
}

button.flash__remove {
    background-color: white;
    border: none;
    padding:0 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*****************************/
/**        App page         **/
/*****************************/

#r2_app_page{
  overflow: hidden;
  position: relative;
}

/* Note that this setting will override richreview webapp's #r2_app_container */
#r2_app_container{
  width:100%;
  height:800px;
  overflow: hidden;
  position: relative;
  border-style: solid;
  border-width: 0;
}

#dummy_div {
  position: static;
  top: 0;
  height: 65px;
  width: 100%;
  clear: both;
}


.docs_cont_title {
  margin: 0.25em 0 0.25em;
}
.docs_cont_title_small{
  font-size: 11px;
  margin: 0.15em 0 0.15em;
}
.docs_cont_btn{
  padding: 5px 14px 2px 13px;
}
.docs_cont_btn_icon{
  font-size: 23px;
}


/*
 * Support page
 */

.support_well{
  margin-top: 23px;
}

.support-form-group{
  margin-bottom: 0;
}

.support-item{
  margin-bottom: 16px;
}

/*
 * Account page
 */

.account-well{
  margin-top: 23px;
}



.float_right{
  float: right;
}
.float_left{
  float: left;
}
.clear-both{
  clear: both;
}
.align_right{
  text-align: right;
}
.align_center{
  text-align: center;
}
.no_bottom_margin{
  margin-bottom: 0;
}

/*
 * About page
 */

.about {
}

.about-intro {
  background-image: url("https://richreview2ca.azureedge.net/img/about_bg.gif");
  background-color: #EEEEEE;
  background-size: 100% auto;
  padding: 55px;
  text-align: center;
}

.about-intro > h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  color: white;
  margin-top: 0px;
}
.about-intro > p {
  margin-top: 25px;
  color: white
}

.intro-items {
  text-align: center;
}

.intro-item {
  width:auto;
  margin-top:30px;
}

.intro-item > .intro-button-box {
  display:inline-block;
  margin-right: 25px;
}

.intro-item > .intro-button-box > button {
  text-transform:none;
  font-size:18px;
}

.intro-item > div> p {
  font-size: 20px;
  position: relative;
}

.about-description {
  margin: 0 auto;
  max-width: 640px;
  min-width: 400px;
}

.about-description > h4 {
  margin-top: 30px;
}

.about-description > p {
  margin-top: 10px;
}

.about_video{
  width: 540px;
  height: 315px;
  border: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}

