extends __layout_cprght
block content_with_cprght
   h5.align_center(style="margin-top:23px;")
      |<br>This link is not valid anymore.<br>
      |The manager of the group canceled the invitation or you've already accepted it.
