if user.auth_type
    case user.auth_type
        when helper.AUTH_TYPE.PILOT
            | &nbsp(Pilot)
        when helper.AUTH_TYPE.UBC_CWL
            | &nbsp(UBC_CWL)
        when helper.AUTH_TYPE.GOOGLE
            | &nbsp(Google)
        when helper.AUTH_TYPE.CORNELL
            | &nbsp(Cornell)