extends __layout

block content
    .container
        block content_with_cprght
    p.text-muted.text-center(style="padding-top: 35px;")
        |Copyright &copy;
        a(href="http://dwyoon.com/")
            |Dongwook Yoon