extends __layout

block content
    .container
        block content_with_cprght
    p.text-muted.text-center(style="padding-top: 35px;")
        |&copy;
        a(href='http://dwyoon.com' target='_blank')= ' Dongwook Yoon'
