//
   Created by dongwookyoon on 6/16/15.

extends __layout_cprght
block content_with_cprght
   h5.align_center(style="margin-top:23px;")
      if access === "admin"
         p
            |admin
      else
         p
            |user
