extends __layout_cprght
block content_with_cprght
    h5
        | Course Instructor
    <table class="table table-striped table-hover ">
    <thead>
    <tr>
    <th>#</th>
    <th>Column heading</th>
    <th>Column heading</th>
    <th>Column heading</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>1</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
    </tr>
    <tr>
    <td>2</td>
    <td>Column content</td>
    <td>Column content</td>
    <td><a href="#" class="btn btn-default btn-sm">Default</a></td>
    </tr>
    </tbody>
    </table>

    link(rel='stylesheet', href='/stylesheets/course.css')
    link(rel="stylesheet", href="/static_viewer/lib_ext/font-awesome-animation.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js")
    script(type='text/javascript', src="/js/util_helper.js")
    script(type='text/javascript', src="/js/course_helper.js")
    script(type='text/javascript')
        | r2.course.init(
        |  '#{BLOB_HOST}',
        |  '#{HOST}',
        |  'math2220_fall2015',
        |  'instructor'
        | );;