//
   Created by dongwook on 9/22/15.

extends __layout_cprght
block content_with_cprght
   h4#my_documents='My Documents'
   .btn.btn-primary.btn-sm#btn-refresh
      i.fa.fa-refresh
   #doc_container

   link(rel='stylesheet', href='/stylesheets/doc.css')
   link(rel="stylesheet", href="/static_viewer/lib_ext/font-awesome-animation.min.css")
   link(href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet")
   script(src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js")
   script(type='text/javascript', src="/js/util_helper.js")
   script(type='text/javascript', src="/js/doc_helper.js")
   script(type='text/javascript')
      |r2Doc.init(
      |  '#{BLOB_HOST}',
      |  '#{HOST}',
      |  '#{user_data}'
      |);;