//
   Created by yoon on 2/1/15.
extends __layout_cprght

block content_with_cprght
   #mydocs
      h5
         i.fa.fa-info-circle
         |&nbsp;How do I share my document with my fellows?
      p
         |<b>Use the purple buttons!</b>
      ol
         li
            |Upload a document using the UPLOAD feature, and return back to this My Docs page.
         li
            |Click the SHARE button and get a GroupCode, and send the code to your fellows
         li
            |Let them enter the GroupCode into the 'Add Myself to Group' UI.
      .btn-group(style="margin-top:20px;margin-left:5px; float:right;" role="group")
         .input-group(style="width:140px;")
            input.form-control(id="addnewgroup_input" style="width: 250px; font-size: 14px; height: 26px;" type="text" placeholder="Enter GroupCode")
            span.input-group-btn
               button.btn.btn-info.btn-sm(style="top:0;" id="addnewgroup_group" onclick="AddMyselfToGroup()" )
                  i.fa.fa-plus-square
                  |&nbspAdd Myself To Group
      h5
         |Documents that I've uploaded
      if docs.length
         -var docs_owned = true
         each doc in docs
            block mydocs_doc
      else
         .panel.panel-default.panel-doc(style="margin-top:20px;margin-bottom:30px;")
            .panel-heading
               |No Documents
      h5
         |Documents that I've been shared with
      if docsp.length

         -var docs_owned = false
         each doc in docsp
            block mydocs_doc
      else
         .panel.panel-default.panel-doc(style="margin-bottom:10px;")
            .panel-heading
               |No Documents




   link(rel='stylesheet', href='/stylesheets/mydocs.css')
   link(rel="stylesheet" href="/static_viewer/lib_ext/font-awesome-animation.min.css")
   link(href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet")

   script(src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js")
   script(type="text/javascript")
      |$.fn.editable.defaults.mode = 'popup';
      |$(document).ready(function() {
      each doc in docs
         - var doc_id_n = doc.id.substring(4);
         |$('#doctitle_#{doc_id_n}').editable({
         |  tpl: "<input type='text' style='font-family: inherit;font-weight: 400;line-height: 1.1;font-size:16px;width:400px;'>",
         |  placement: 'bottom'
         |});
         each group in doc.groupsObj
            -var group_id_n = group.id.substring(4);
            |InitGroup("#{doc_id_n}", "#{group_id_n}");
      |});

   script(type='text/javascript', src="/js/mydoc_helper.js")