//
//   Created by ukka123 on 12/6/14.

extends __layout
block content
    #r2_app_page(align="center")
        p
            |Hello RichReview App
        p
            | This is a
        p
            | Test Page
        p
            | Hello RichReview App
        p
            | This is a
        p
            | Test Page
        #r2_app_container(align="left")
        p
            | Test Page
        p
            | Hello RichReview App
        p
            | This is a
        p
            | Test Page
        script(type='text/javascript', src="/js/viewer_helper.js")
        script(type="text/javascript")
            |loadRichReview('#{r2_urls}');
